.cls-txt-tree{
    width: 135px;float: left;
    margin-left: 5px;height: auto;
    border: 0px solid;
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size:xx-small;
}

.cls-div{
    width: 25px; height: 100%; float: left;
    
   
   
}

.validator{
     background-color: red;
}